{% extends 'main/index.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/css/basket.css' %}">
{% endblock %}

{% block title%} basket{% endblock %}

{% block content %}

<h1>Корзина</h1>
<input placeholder="быстрое добавление: введите наименование или код товара" />

<h1>{{ prods }}</h1>

<div class="cont">
    <div class="elements">
        <form method="post">
            <div class="form_header">
                <label>выбрать все товары</label><input class="check" type="checkbox" id="masterCheckbox">
                <button type="submit">удалить выбранные</button>
            </div>
            {% csrf_token %}
        {% for elem in orderItems %}
        <div class="row">
            <input class="check" type="checkbox" value="{{ elem.id }}" name="orderItems" />
            <img src="{{ elem.product.mainImage }}">
            <div class="description">
                <h4>{{ elem.product.id }}</h4>
                <h1>{{ elem.product.pName }}</h1>
                <h2>{{ elem.product.price }} руб.</h2>
            </div>
            <a href="{% url 'delete_from_basket' elem.id %}"><img src="{% static 'main/img/cross.png' %}"/></a>
        </div>
        {% endfor %}
        </form>
    </div>
    <div class="action">
        <h1>Ваш заказ</h1>
        <div class="info">
            <p>Выбрано товаров</p><h4>{{ cart.amount }} шт</h4>
            <p>Общая стоимость</p><h4>{{ fullPrice }} руб.</h4>
        </div>
        <a href="{% url 'order' %}">оформить заказ</a>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'main/js/checkbox.js' %}"></script>
{% endblock %}