main {
    padding: 2% 5%;
}

main input {
    padding: 0.5%;
    width: 30%;
}

main .cont {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.elements {
    width: 70%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
    border: 2px solid grey;
    border-radius: 15px;
    margin: 0 0 2% 0;
}

.row img {
    width: 200px;
    height: 150px;
}

.row h4 {
    color: grey;
}

main .description {
    width: 70%;
}

.row a {
    width: 3%;
    height: 3%;
}

.form_header {
    margin: 2% 0;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form_header input {
    width: auto;
    margin: 0 2% 0 1%;
}

form button {
    padding: 0.5%;
    background: none;
    border: none;
    cursor: pointer;
}

.row a img {
    width: 100%;
    height: 100%;
}

.check {
    width: 5%;
    transform: scale(1.5);
}

.action {
    width: 20%;
    height: 300px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 3px solid grey;
    border-radius: 15px;
    transition: 1s;
}

.action:hover {
    transform: scale(1.2);
    box-shadow: 10px 5px 5px grey;
}

.action a {
    background: #d92525;
    padding: 2%;
    width: 50%;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
}